.gameField{
    width: calc(100px * 8);
    height: calc(100px * 8);

    margin: auto;

    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto;
    grid-template-rows: auto auto auto auto auto auto auto auto;

    .gameBlock{
        width: 100px;
        height: 100px;
        
        background-color: #EBECD0;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }
    
    .gameBlock:nth-child(-2n+8), 
    .gameBlock:nth-child(8) ~ .gameBlock:nth-child(-2n+15), 
    .gameBlock:nth-child(16) ~ .gameBlock:nth-child(-2n+24),
    .gameBlock:nth-child(24) ~ .gameBlock:nth-child(-2n+31),
    .gameBlock:nth-child(32) ~ .gameBlock:nth-child(-2n+40),
    .gameBlock:nth-child(40) ~ .gameBlock:nth-child(-2n+47),
    .gameBlock:nth-child(48) ~ .gameBlock:nth-child(-2n+56),
    .gameBlock:nth-child(56) ~ .gameBlock:nth-child(-2n+63) {
        background-color: #779556;
    }
}